Flask==1.0.2
matplotlib==3.0.2
numpy==1.15.4
opencv-python==4.1.0.25
openpyxl==2.5.12
pandas==0.23.4
pickleshare==0.7.5
Pillow==5.3.0
py==1.7.0
pymongo==3.8.0
pyzmq==17.1.2
QtPy==1.5.2
requests==2.21.0
ruamel-yaml==0.15.46
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0