<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo labeling</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
    <script src="https://d3js.org/d3.v4.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drag.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed:300,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='image/ku.png') }}" />
  </head>
  <body style="width: 150%; overflow: auto">

    <div class ="img_temp" style = "position : absolute; z-index: 10"></div>

    <div class="row" style = "width: auto;">
     
        <!-- TSNE SELECTOR -->
    <div id="tsne_div" class= "col-sm-3" style= "width: 350px; height: 1017px">
    </div>
    <div class="col-sm-12" style="width: auto; height: auto;">
      <div style="width: 100%; height:auto; min-height:511px; display: inline-block;">
       <!-- ADJ1 -->
        <!-- 286 / 53 -->
        <div class=left1 style="width: 579px; height: auto; min-height: 503px; margin:10px">
          <div class =adjective id ="adjective1" style= "text-align: left">
            <p>more likely <span class = "keyword"></span></p>
          </div>
          <div class = "red-blue blue" id="style-3" style=" background-color: rgba(65,122,255,0.2)">
            <div class = "image_row" style = "height: 146.7px;">
              <div class="left" id = "L1"></div>
              <div class="left" id = "L4"></div>
              <div class="left" id = "L7"></div>
              <div class="left" id = "L10"></div>
            </div>
            <div class = "image_row" style = "height: 146.7px;">
              <div class="left" id = "L2"></div>
              <div class="left" id = "L5"></div>
              <div class="left" id = "L8"></div>
              <div class="left" id = "L11"></div>
            </div>
            <div class = "image_row" style = "height: 146.7px;">
              <div class="left" id = "L3"></div>
              <div class="left" id = "L6"></div>
              <div class="left" id = "L9"></div>
              <div class="left" id = "L12"></div>
            </div>
          </div>
          </div>
          <!-- NEUTRAL -->
          <!-- 152 / 53 -->
          <div class = left1 style="width: 310px; height: auto; margin:10px">
            <div class =adjective style= "text-align: center">
              NEUTRAL 
            </div>
            <div class="red-blue neutral" id = "style-3" column="neutral" stlye = "overflow:hidden">
                <div class = "image_row" style = "height: 146.7px;">
                  <div class="center" id = "N1"></div>
                  <div class="center" id = "N2"></div>
                </div>
                <div class = "image_row" style = "height: 146.7px;">
                  <div class="center" id = "N3"></div>
                  <div class="center" id = "N4"></div>
                </div>
                <div class = "image_row" style = "height: 146.7px;">
                  <div class="center" id = "N5"></div>
                  <div class="center" id = "N6"></div>
                </div>
            </div>
          </div>
          <!-- ADJ2 -->
          <!-- 286 / 53 -->
          <div class= left1 style="margin:10px">
            <div class =adjective id ="adjective2" style= "text-align: right">
              <p>more likely not <span class = "keyword"></span></p>
            </div>
            <div class = "red-blue red" id="style-3" style="background-color: rgba(242,108,108,0.2); overflow:hidden">
                <div class = "image_row" style = "height: 146.7px;">
                  <div class="right" id = "R12"></div>
                  <div class="right" id = "R9"></div>
                  <div class="right" id = "R6"></div>
                  <div class="right" id = "R3"></div>
                </div>
                <div class = "image_row" style = "height: 146.7px;">
                  <div class="right" id = "R11"></div>
                  <div class="right" id = "R8"></div>
                  <div class="right" id = "R5"></div>
                  <div class="right" id = "R2"></div>
                </div>
                <div class = "image_row" style = "height: 146.7px;">
                  <div class="right" id = "R10"></div>
                  <div class="right" id = "R7"></div>
                  <div class="right" id = "R4"></div>
                  <div class="right" id = "R1"></div>
                </div>
            </div>
          </div>
        
        </div>
        <!-- Description -->
      <div class=description id = "description0" style="text-align: left"><span class="count"></span>/<span class="total"></span></div>
      <div class=description id = "description1">
        Please review the images above in a way that the images are placed in the right category.
      </div>
      <div class=description id = "description2">
          Images in the left box will be labeled as "<span class="keyword"></span>", in the middle box as "NEUTRAL", and in the right box as "not <span class="keyword"></span>".
      </div>
      <h4><b>
      <div class=description id = "description3">
      <p>You can choose multiple images by clicking with 'control' button pressed.</p>
      You can also move the images using your keyboard. A: <span class="keyword"></span>, D: not <span class="keyword"></span>, S: Neutral, SPACE BAR: Confirm
      <h4></b>
      </div>
        <!-- Buttons -->
        <div style="width: 100%; text-align: center; margin: 10px">
            <button class= "button-confirm" onclick="confirm_click();">
                CONFIRM
            </button>
            <!-- <button class= "button-logout" onclick= "location.href='http://127.0.0.1:5000/logout';"> -->
            <button class= "button-logout" onclick= "location.href='http://130.211.240.166:5000/logout';">
              LOGOUT
            </button>
        </div>


        <!-- Your History -->
        <div class="row" style = "width: auto;">
              
            <div class=left1 style="width: 579px; height: 503px; margin:10px">
              <div class =adjective style= "text-align: left">
                <p>YOUR HISTORY</p>
              </div>
              <div class =history-red-blue id="history-blue" style= "text-align: left; background-color: rgba(65,122,255,0.05)">
                <div class = "history_image_left" style = "height: 294px; overflow: auto"> </div>
              </div>
            </div> 

            <div class = left1 style="width: 310px; height: auto; margin:10px">
              <div class =adjective style= "text-align: center"> </div>
              <div class =history-red-blue id="history-neutral" style= "width: 310px; text-align: center">
                <div class = "history_image_middle" style = "height: 294px; overflow: auto"> </div>
              </div>
            </div>

            <div class= left1 style="margin:10px">
              <div class =adjective style= "text-align: right"> </div>
              <div class =history-red-blue id="history-red" style= "text-align: right; background-color: rgba(242,108,108,0.05)">
                  <div class = "history_image_right" style = "height: 294px; overflow: auto"> </div>
              </div>
          </div>
      </div>
      </div>
        </div>
              
    <script type = "text/javascript" src = "{{url_for('static', filename='js/main.js') }}" keyword = "{{keyword}}" 
                                                                                          images = "{{images}}" 
                                                                                          user_id = "{{user_id}}" 
                                                                                          test = "{{test}}" 
                                                                                          total_num = "{{total_num}}" 
                                                                                          count_num = "{{count_num}}"
                                                                                          label = "{{label}}"
                                                                                          attr_list = "{{attr_list}}"
                                                                                          cluster = "{{cluster}}"
                                                                                          current_cluster = "{{current_cluster}}"
                                                                                          >
    </script>
  </body>
</html>